<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="col-lg-8 col-lg-offset-2 text-center">
            <p>
            سلام ، کوهیار هستم :) پروژه‌هایی که واسه علاقه‌ی شخصی و نیاز خودم شروع کردم و به یک نتیجه‌ی قابل انتشار رسیدند رو اینجا قرار می‌دم
            
            
            </p>
        <p>  اگه از پروژه‌های من خوشت اومده و دوست داری از من حمایت کنی؛ می‌تونی روی دکمه‌ی پایین کلیک کنید و با یک مبلغ دلخواه حمایت مالی بکنی و یا می‌تونی با استفاده از فرم پایین یک ایمیل دلگرم کننده واسم بفرستی</p>
        </div>

            <div class="col-lg-8 col-lg-offset-2 text-center">
      <h4>پرداخت مبلغ دلخواه از طریق درگاه پرداخت بانکی</h4>
        <a href="https://idpay.ir/koohyar-nori" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> رفتن به درگاه پرداخت
        </a>

        
        

      </div> 

<div class="col-lg-8 col-lg-offset-2 text-center">
        </br></br>
<h4>بیت‌کوین</h4>
<p><img  src="img/bitcoin_qrcode.png" class="col-lg-6 col-lg-offset-3 text-center" /></p>
</div>
      
     
 
    </div>
  </div>
</section>
