<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="col-lg-8 col-lg-offset-2 text-center fa-brands" style="line-height: 30px">

        <p >   سلام، کوهیار هستم :) اگه می‌خوای از من و پروژه‌هام حمایت کنی که همینجور مجانی و بدون تبلیغات بمونند،
         می‌تونی روی دکمه‌ی پایین کلیک کنی و با یک مبلغ دلخواه حمایت مالی بکنی یا می‌تونی رمزارز بفرستی. و البته می‌تونی با استفاده از فرم پایین صفحه یک ایمیل دلگرم کننده واسم بفرستی و نظر و پیشنهادت رو بگی.</p>
        </div>

            <div class="col-lg-8 col-lg-offset-2 text-center fas">
      <h3 class="fa-brands" >:پرداخت مبلغ دلخواه از طریق درگاه پرداخت بانکی</h3>
        <a href="https://idpay.ir/koohyar-nori" class="btn btn-lg btn-outline" style="color:red;background-color:white;">
          <i class="fa fa-download"></i> رفتن به درگاه پرداخت
        </a>
      </div> 
   

     <div class="col-lg-8 col-lg-offset-2 text-center">
     <br></br>  
        <h1 style="color:gold;">Bitcoin:</h1>
        <p style="color:red;background-color:white;">‌‌1DB3r4L7oNpKcPWN9fFA1RnJCC99f2TvXo</p>
        <p><img  src="img/bitcoin_qrcode.jpg" /></p>
      </div>
  <div class="col-lg-8 col-lg-offset-2 text-center">
             <br></br>  
        <h1 style="color:blue;">Toncoin:</h1>
        <p style="color:red;background-color:white;" >UQDiyZL0_Zu_YE50BHDMEJpp7RN-Gj1P88EEdDAGvlafrOaZ</p>
        <p><img  
        src="img/toncoin_qrcode.jpg" 
        width="300" height="300"
        class="col-lg-4 col-lg-offset-4 text-center "/></p>
</div>
      
     
 
    </div>
  </div>
</section>
