<!-- Portfolio Modals -->
{% for post in site.posts %}
<div class="portfolio-modal modal fade" id="portfolioModal-{{ post.modal-id }}" tabindex="-1" "
  aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>{{ post.title }}</h2>
            <hr class="star-primary">
            <img src="img/portfolio/{{ post.img }}" class="img-responsive img-centered" alt="{{ post.alt }}">
            {% if post.description %}
            <p>{{ post.description }}</p>
            {% endif %}
            <ul class="list-inline item-details">
        
              {% if post.project-date %}
              <li>Date:
                <strong>{{ post.project-date }}</strong>
              </li>
              {% endif %}
              {% if post.category %}
              <li>Service:
                <strong>{{ post.category }}</strong>
              </li>
              {% endif %}
            </ul>
            
                 
                 <button   class=" fa-2x btn-link ">
		<a class="h1 "  href={{ post.file }} > دانلود مستقیم </a>
		              <i class="fa-brands fa-fw fa-android fa-xl fa-beat"></i>
		</button>
		
            <ul class="list-inline item-details">
            
            
    
         
            
            {% if post.address_myket %}
            <li>
            <a href={{ post.address_myket }}"><img src="img/badge_myket.png" /> </a>
            </li>
            {% endif %}
            
            {% if post.address_bazaar %}
            <li>
            <a href={{ post.address_bazaar }}><img src="img/badge_bazaar.png" /></a>
            </li>
             {% endif %}
            </ul>
            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>
              Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
